@font-face {
  font-family: "lato";
  src: url("../fonts/Lato2OFL/Lato-Light.ttf");
}
body {
  font-family: "lato";
  line-height: 1.4em;
}

.b-page-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2);
  padding: 10px 0;
  background-color: rgba(7, 7, 7, 0.3);
  z-index: 99;
}
.b-page-header .b-logo {
  width: 80px;
}
.b-page-header .b-page-nav {
  margin-top: 20px;
  text-align: right;
}
.b-page-header .b-page-nav .list-menu {
  display: inline;
  padding-left: 6px;
  padding-right: 6px;
}
.b-page-header .b-page-nav .list-menu .item-menu {
  position: relative;
  color: #ffffff;
  font-family: "lato";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  text-decoration: none;
}
.b-page-header .b-page-nav .list-menu .item-menu:hover {
  color: #4bcaff;
}
.b-page-header .b-page-nav .list-menu:hover {
  border-bottom: 3px solid #4bcaff;
  transition: all 0.3s ease-in-out;
}
.b-page-header .b-page-nav .active {
  border-bottom: 3px solid #4bcaff;
}
.b-page-header .b-page-nav .active .item-menu {
  color: #4bcaff;
}

.banner {
  position: relative;
  border-bottom: 2px solid aqua;
}
.banner .backg-banner {
  width: 100%;
}
.banner .backg-banner img {
  width: 100%;
}
.banner .slider {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-10%, 0px);
  padding: 10px 20px;
}
.banner .slider h3 {
  font-size: 40px;
  color: white;
  font-family: "lato";
  font-weight: 400;
}
.banner .slider h3 span {
  font-weight: 700;
}
.banner .slider p {
  color: white;
  font-size: 16px;
  font-family: "lato";
  padding-right: 50px;
}
.banner .slider button {
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  background-color: transparent;
  border: 1.5px solid #ffffff;
  padding: 10px 30px;
  border-radius: 4px;
  margin-top: 20px;
}
.banner .slider button:hover {
  background-color: aqua;
  cursor: pointer;
}
.banner .slider .btnlearn {
  margin-left: 20px;
}
.banner .available-social {
  position: absolute;
  top: 66%;
  left: 46%;
  transform: translate(-10%, 0px);
  padding: 10px 20px;
  display: flex;
}
.banner .available-social p {
  color: #ffffff;
}
.banner .available-social .item-page {
  display: inline;
  padding-left: 20px;
}
.banner .available-social .item-page i {
  color: #ffffff;
}
.banner .available-social .item-page i:hover {
  color: aqua;
  cursor: pointer;
}

.b-page-summarise {
  padding: 40px 0;
  background-color: #f9f9f9;
  border-bottom: 1px solid #d7d7d7;
}
.b-page-summarise .title-summarise {
  line-height: 1.2px;
}
.b-page-summarise .title-summarise > h3 {
  font-size: 36px;
  font-weight: 700;
  color: black;
}
.b-page-summarise .title-summarise p {
  font-size: 16px;
}
.b-page-summarise .b-card {
  text-align: center;
  margin-top: 40px;
}
.b-page-summarise .b-card .icon-summarise {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #11d1d1;
  border-radius: 100%;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}
.b-page-summarise .b-card .icon-summarise i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: #ffffff;
}
.b-page-summarise .b-card .content-summarise {
  margin-top: 20px;
}
.b-page-summarise .b-card .content-summarise h3 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: black;
}
.b-page-summarise .b-card .content-summarise p {
  font-size: 13px;
}
.b-page-summarise .b-card:hover {
  cursor: pointer;
}
.b-page-summarise .b-card:hover .icon-summarise {
  background-color: black;
}
.b-page-summarise .b-card:hover h3 {
  color: aqua;
}

.b-page-gallery {
  padding: 40px 0;
}
.b-page-gallery .b-heading {
  line-height: 1.2px;
}
.b-page-gallery .b-heading h3 {
  font-size: 36px;
  font-weight: 700;
  color: black;
}
.b-page-gallery .b-heading p {
  font-size: 16px;
}
.b-page-gallery .list-showgallery .image-galery {
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.b-page-gallery .list-showgallery .image-galery img {
  width: 100%;
}
.b-page-gallery .list-showgallery .image-galery .icon-showgallery {
  position: absolute;
  top: 40%;
  left: 46%;
  visibility: hidden;
}
.b-page-gallery .list-showgallery .image-galery .title-showgallery {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: rgba(25, 22, 24, 0.36);
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.b-page-gallery .list-showgallery .image-galery .title-showgallery h4 {
  text-transform: uppercase;
  font-size: 16px;
  color: #4bcaff;
}
.b-page-gallery .list-showgallery .content-showgallery {
  margin-top: 10px;
}
.b-page-gallery .list-showgallery:hover .image-galery img {
  opacity: 0.5;
}
.b-page-gallery .list-showgallery:hover .image-galery .icon-showgallery {
  visibility: visible;
}

.b-page-action {
  padding: 60px 0;
  background-image: url(../img/backgroup_item1.png);
}
.b-page-action .main-action .content .btn-actionvideo button {
  padding: 10px 30px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
}
.b-page-action .main-action .content .btn-actionvideo button i {
  color: #fff;
}
.b-page-action .main-action .content .content-action {
  padding-top: 30px;
}
.b-page-action .main-action .content .content-action h3 {
  color: #fff;
  font-size: 40px;
}
.b-page-action .main-action .content .content-action h3 span {
  font-weight: 700;
}
.b-page-action .main-action .content .content-action p {
  color: #fff;
  padding: 0 60px;
  text-align: left;
}

.b-page-price {
  padding: 40px 0;
}
.b-page-price .title-main-price {
  line-height: 1.2px;
}
.b-page-price .title-main-price h3 {
  font-size: 30px;
  font-weight: 700;
}
.b-page-price .item-price {
  border: 1px solid #999;
  text-align: center;
  margin-top: 30px;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: all 0.3s ease-in-out;
}
.b-page-price .item-price h4 {
  text-transform: uppercase;
  color: #d7d7d7;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0;
}
.b-page-price .item-price .money-price h5 {
  font-size: 70px;
  padding: 20px 0;
  letter-spacing: -4px;
  font-weight: 900;
  color: #fff;
}
.b-page-price .item-price .content-price p {
  color: #d7d7d7;
  font-weight: 700;
  line-height: 2;
}
.b-page-price .item-price .btn-price button {
  text-transform: uppercase;
  font-size: 13px;
  padding: 10px 30px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 20px 0;
}
.b-page-price .item-price:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.b-page-price .green .money-price {
  background-color: #91c46b;
}
.b-page-price .green .btn-price button {
  background-color: #91c46b;
}
.b-page-price .blue .money-price {
  background-color: #4bcaff;
}
.b-page-price .blue .btn-price button {
  background-color: #4bcaff;
}
.b-page-price .organge .money-price {
  background-color: #fd7c00;
}
.b-page-price .organge .btn-price button {
  background-color: #fd7c00;
}

.b-page-testimonials {
  padding: 30px 0;
  background-color: #f9f9f9;
  border-top: 1px solid #d7d7d7;
}
.b-page-testimonials .title-testimonials h3 {
  text-transform: capitalize;
  font-weight: 700;
}
.b-page-testimonials .icon-testimonials {
  text-align: right;
}
.b-page-testimonials .icon-testimonials img {
  position: relative;
}
.b-page-testimonials .content-testimonials {
  padding-top: 36px;
}
.b-page-testimonials .content-testimonials p {
  color: #4bcaff;
  font-weight: 500;
}
.b-page-testimonials .content-testimonials .b-current {
  float: right;
}

.b-page-feel {
  padding: 40px 0;
  background-color: #414042;
}
.b-page-feel .download-content h2 {
  font-size: 50px;
  color: #fff;
  font-weight: 700;
}
.b-page-feel .download-content button {
  text-transform: uppercase;
  font-weight: 700;
  background-color: #4bcaff;
  color: #fff;
  border-radius: 5px;
  padding: 20px 30px;
  margin-top: 20px;
  border: none;
}
.b-page-feel:hover button {
  color: #414042;
  cursor: pointer;
}

.b-page-map {
  padding: 100px 0;
  background-image: url(../img/google-map-background.jpg);
}
.b-page-map .form-contract .form-list {
  background-color: #4bcaff;
  width: 48%;
  border-radius: 5px;
}
.b-page-map .form-contract .form-list h3 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  padding-top: 20px;
}
.b-page-map .form-contract .form-list .item-form {
  padding: 8px 0;
}
.b-page-map .form-contract .form-list .item-form input {
  width: 86%;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
.b-page-map .form-contract .form-list .item-form textarea {
  width: 86%;
  border: none;
  border-radius: 5px;
}
.b-page-map .form-contract .form-list .btn-form button {
  background-color: #414042;
  color: #fff;
  padding: 10px 40px;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
}
.b-page-map .form-contract:hover .btn-form button {
  color: #4bcaff;
  cursor: pointer;
}

footer {
  background-color: #414042;
}
footer .footer-content {
  padding-top: 20px;
}
footer .footer-content p {
  color: #fff;
  font-size: 13px;
}

/*# sourceMappingURL=style.css.map */
